script(type="application/javascript").
  function revertIdSiteBaseUrl() {
    var idSiteBaseUrlInupt = document.getElementById('idSiteBaseUrl');
    idSiteBaseUrlInupt.value = '';
  }
form.form-horizontal(action="/login",method="get")
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Login Request
    div.panel-body
      div.form-group
        label.control-label.col-xs-4 Show Organization Field
        div.col-xs-6.col-sm-3.col-md-2
          div.radio
            label
              input(type="radio" name="sof" checked value="")
              span Undefined
          div.radio
            label
              input(type="radio" name="sof" value="1")
              span True
          div.radio
            label
              input(type="radio" name="sof" value="0")
              span False

      div.form-group
        label.control-label.col-xs-4 Organization Name Key
        div.col-xs-6.col-sm-3.col-md-2
          input.form-control(type="text" name="onk")

      div.form-group
        label.control-label.col-xs-4 Use Subdomain
        div.col-xs-6.col-sm-3.col-md-2
          div.checkbox
            label
              input(type="checkbox" name="usd")

      div.form-group
        label.control-label.col-xs-4 State
        div.col-xs-6.col-sm-3.col-md-2
          input.form-control(type="text" name="state")

      div.form-group
        label.control-label.col-xs-4 Path
        div.col-xs-6.col-sm-3.col-md-2
          input.form-control(type="text" name="path")

      div.form-group
        label.control-label.col-xs-4 Callback URI
        div.col-xs-6.col-sm-3.col-md-5
          input.form-control(type="text" name="cb_uri" value=cb_uri)

      div.form-group
        label.control-label.col-xs-4 Alternate ID Site Base URL
        div.col-xs-6.col-sm-3.col-md-5
          div.input-group
            input.form-control(type="text" name="idSiteBaseUrl" id="idSiteBaseUrl" value=idSiteBaseUrl)

            div.input-group-addon(style="cursor:pointer;" onclick="revertIdSiteBaseUrl(this)")
              i.icon.glyphicon.glyphicon-trash
          span.help-block Use for local ID Site development.  Note: will not persist SSO cookie.

      div.form-group
        label.control-label.col-xs-4
        div.col-xs-6.col-sm-3.col-md-2
          button.btn.btn-primary.form-control(type="submit") Log me in!