{
  "globals": {
    "after": false,
    "afterEach": false,
    "angular": false,
    "before": false,
    "beforeEach": false,
    "browser": false,
    "by": false,
    "describe": false,
    "element": false,
    "inject": false,
    "it": false,
    "jasmine": false,
    "spyOn": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended"
}