<div class="view forgot-view" ng-show="ready">
  <div class="box row">
    <div class="col-sm-12">
      <div class="header">
        <span ng-show="!sent && !retry">Password Reset</span>
        <span ng-show="retry">Reset link has expired</span>
        <span ng-show="sent">Please check your mail.</span>

      </div>
      <div class="wd-sent" ng-show="sent">
        <p>
          <span>We've sent a password reset link to </span>
          <strong>{{fields.email.value}}</strong>.
        </p>
        <p>&nbsp;</p>
      </div>
      <form class="forgot-form form-horizontal sp-form" role="form" ng-submit="submit()" ng-show='!sent'>

        <div class="form-group group-account-store-name" ng-show="showOrganizationField" ng-class="{'has-error': (errors.organizationNameKeyInvalid || errors.organizationNameKeyRequired)}">
          <label class="col-sm-6">Organization</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" name="organizationNameKey" ng-model="organizationNameKey" placeholder="Organization" ng-disabled="disableOrganizationField"/>

            <span ng-if="errors.organizationNameKeyRequired" class="help-block">
              An organization name is required.
            </span>
            <span ng-if="errors.organizationNameKeyInvalid" class="help-block">
              Invalid Organization Name.
            </span>
          </div>
        </div>

        <div class="form-group group-email" ng-class="{'has-error':notFound}" form-group>
          <label class="col-sm-6" ng-hide="retry">Send password reset instructions to:</label>
          <label class="col-sm-6" ng-show="retry">Send new password reset email to:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="email" placeholder="Email" form-control email-validation validate-on-blur/>
            <small class="help-block wd-invalid-email" ng-show="validationError">Invalid email address</small>
            <small class="help-block wd-not-found" ng-show="notFound"><span>Account does not exist.</span></small>
          </div>
        </div>
        <div class="alert alert-danger" ng-show="unknownError">
          <strong>Sorry, an error occured.  Please reload the page and try again.</strong>
          <br/>
          <br/>
          <p>{{unknownError}}</p>
        </div>
        <button class="btn btn-forgot btn-sp-green" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  <a ng-show="!sent" class="to-login" href="#" wd-back-to-login>Back to Log In</a>
</div>