<div class="view forgot-view">
  <div class="box row">
    <div class="col-sm-12">
      <div class="header">
        <span>Password Reset</span>
      </div>
      <form class="forgot-form form-horizontal" role="form">


        <div class="form-group group-email">
          <label class="col-sm-6">Send password reset instructions to:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="email" />
          </div>
        </div>
        <button class="btn btn-forgot btn-sp-green" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  <a class="to-login" href="#">Back to Log In</a>
</div>