<div class="view login-view" ng-show="ready">
  <div class="box row">
    <div class="email-password-area  col-xs-12" ng-class="[hasSocial ? 'small col-sm-8' : 'large col-sm-12']">
      <div class="header">
        <span>Log In</span>
        <span ng-show="canRegister" wd-can-register>
          <span> or </span>
          <a href="#register">Create an Account</a>
        </span>

      </div>
      <div class="alert alert-danger bad-login" ng-show="errors.badLogin">
        Invalid username or password.
      </div>
      <div class="alert alert-danger not-found" ng-show="errors.notFound">
        <span>Account does not exist. Do you need to </span>
        <a href="#/register">create an account</a>
        <span>?</span>
      </div>
      <div class="alert alert-danger" ng-show="errors.unknown">An unkown error has occurred</div>
      <div class="alert alert-danger" ng-show="errors.userMessage">
        <strong>Sorry, an error occured.  Please reload the page and try again.</strong>
        <br/>
        <br/>
        <p>{{errors.userMessage}}</p>
      </div>
      <form class="login-form form-horizontal" role="form" ng-submit="submit()">
        <div class="form-group group-email">
          <label ng-class="[hasSocial ? 'col-sm-12' : 'col-sm-4']">Email</label>
          <div ng-class="[hasSocial ? 'col-sm-12' : 'col-sm-8']">
            <input class="form-control" type="text" name="username" ng-model="username" placeholder="Email"/>
          </div>
        </div>
        <div class="form-group group-password">
          <label ng-class="[hasSocial ? 'col-sm-12' : 'col-sm-4']">Password</label>
          <div ng-class="[hasSocial ? 'col-sm-12' : 'col-sm-8']">
            <input class="form-control" type="password" name="password" ng-model="password" placeholder="Password"/>
          </div>
        </div>
        <div class="form-group group-remember-me">
          <div class="col-sm-8" ng-class="[hasSocial ? '' : 'col-sm-offset-4']">
            <input type="checkbox" id="remember">
            <label for="remember">Remember me</label>
          </div>
        </div>
        <div>
          <button class="login btn btn-login btn-sp-green" type="submit">Log In</button>
        </div>
      </form>
    </div>

    <div class="social-area  col-xs-12 col-sm-4" ng-show="hasSocial">
      <div class="header">&nbsp;</div>
      <label>Easy 1-click login:</label>
      <button ng-repeat="p in providers" class="btn btn-social btn-{{p.providerId}}" ng-click="providerLogin(p.providerId)">{{p.providerId}}</button>
    </div>

  </div>

  <a class="forgot" href="#forgot">Forgot Password?</a>

</div>


