<div class="view mfa-redirect">
  <div class="icon">
    <img src="/images/success.png">
  </div>
  <div class="header">
    <span ng-if="source === 'verification'">Verification Successful</span>
    <span ng-if="source === 'setup'">Additional Factor Verified</span>
  </div>
  <p class="description">
    <span ng-if="source === 'verification'">You'll be redirected to your application shortly.</span>
    <span ng-if="source === 'setup'">You're all set. You'll be redirected to your application shortly.</span>
  </p>
  <p class="spinner">
    <img src="/images/spinner.gif">
  </p>
</div>
