<div class="view mfa-view" ng-show="status !== 'loading'" >
  <div class="overview" ng-if="!factor">
    <div class="box row">
      <div class="col-sm-12">
        <div class="header">
          <span>Verification Required</span>
        </div>

        <div class="sub-header">
          <span>Choose a method to verify access to your account:</span>
        </div>

        <div class="factors">
          <div class="factor {{factor.id}}" ng-repeat="factor in factors" ng-click="selectFactor(factor.id)">
            <p class="icon"><img src="/images/factors/{{factor.id}}.png" class="shrink-2x" /></p>
            <p class="title">{{factor.title}}</p>
            <p class="sub-title">{{factor.subTitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sms-factor" ng-if="factor.id === 'sms'">
    <div class="box row">
      <div class="col-sm-12">
        <div class="header">
          <span>Verification Required</span>
        </div>
        <div class="sub-header">
          <span>We just sent a code to {{factor.phone.number}}. Enter the code you recieve here.</span>
        </div>

        <div ng-show="verification.state == 'invalid_code'" class="alert alert-danger">
          Invalid code. Check that you've entered it correctly.
        </div>

        <div ng-show="verification.state == 'resent_code'" class="alert alert-info">
          Replacement code sent.
        </div>

        <div>
          <form ng-submit="verifyCode()">
            <input placeholder="6-digit code" ng-model="verification.code" ng-focus>
            <button type="submit">Continue</button>
          </form>
        </div>
      </div>
    </div>
    <div class="other-options">
      <p><a ng-click="resendSmsCode()">Re-send Code</a></p>
      <p><a ng-click="changeSmsPhoneNumber" ng-if="isFirstVerification">Change Phone Number</a></p>
    </div>
  </div>
  <div class="google-authenticator-factor" ng-if="factor.id === 'google-authenticator'">
    <div class="box row">
      <div class="col-sm-12">
        <div class="header">
          <span>Verification Required</span>
        </div>
        <div class="sub-header">
          <span>Open your Google Authenticator app on your mobile device and enter the code shown for your account.</span>
        </div>

        <div ng-show="verification.state == 'invalid_code'" class="alert alert-danger">
          Invalid code. Check that you've entered the current code shown in Google Authenticator.
        </div>

        <div>
          <form ng-submit="verifyCode()">
            <input placeholder="6-digit code" ng-model="verification.code" ng-focus>
            <button type="submit">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
