<small class="help-block" ng-show="errors.minLength" wd-minLength>Password is too short</small>
<small class="help-block" ng-show="errors.maxLength" wd-maxLength>Password is too long</small>
<small class="help-block" ng-show="errors.digit" wd-digit>Password requires a number</small>
<small class="help-block" ng-show="errors.diacrit" wd-diacrit>Password requires a diacritical character</small>
<small class="help-block" ng-show="errors.upperCase" wd-upperCase>Password requires a uppercase letter</small>
<small class="help-block" ng-show="errors.lowerCase" wd-lowerCase>Password requires a lowercase letter</small>