<small class="help-block" ng-show="errors.minLength" wd-minLength>Password is too short</small>
<small class="help-block" ng-show="errors.maxLength" wd-maxLength>Password is too long</small>
<small class="help-block" ng-show="errors.requireNumeric" wd-requireNumeric>Password requires a number</small>
<small class="help-block" ng-show="errors.requireSymbol" wd-requireSymbol>Password requires a symbol</small>
<small class="help-block" ng-show="errors.requireDiacritical" wd-requireDiacritical>Password requires a diacritical character</small>
<small class="help-block" ng-show="errors.requireUpperCase" wd-requireUpperCase>Password requires a uppercase letter</small>
<small class="help-block" ng-show="errors.requireLowerCase" wd-requireLowerCase>Password requires a lowercase letter</small>