<div class="view registration-view">
  <form>
    <p class="header">Create an Account</p>
    <label>First Name</label>
    <input type="text" name="givenName" />
    <label>Last Name</label>
    <input type="text" name="surname" />
    <label>Email</label>
    <input type="text" name="email" />
    <label>Password</label>
    <input type="password" name="password" />
    <label>Confirm Password</label>
    <input type="password" name="passwordConfirm" />
    <button type="submit">Create Account</button>
  </form>

  <a href="#">Back to Log In</a>
</div>