<div class="view reset-view" ng-show="status!=='loading'">
  <div class="box row">
    <div class="col-sm-12">
      <div class="header">
        <span ng-show="status=='verified'">Password Reset</span>
        <span ng-show="status=='failed'">Sorry! Something went wrong.</span>
        <span ng-show="status=='success'">Your have successfully changed your password</span>
      </div>
      <div ng-show="status=='failed'">
        <p>
          <span>You will need to make a new password reset request.</span>
          <a href="#/forgot">Click here to try again</a>
        </p>
        <p>&nbsp;</p>
      </div>
      <div wd-success ng-show="status==='success'">
        <p>
          <span>You may now </span>
          <a href="#/">log in</a>
        </p>
        <p>&nbsp;</p>
      </div>
      <div ng-show="error" class="alert alert-danger">
        <p><strong>The error was:</strong></p>
        <p>{{error}}</p>
      </div>

      <form class="reset-form form-horizontal sp-form" role="form" ng-show="status=='verified'" ng-submit="submit()">
        <div class="form-group group-password" form-group>
          <label class="col-sm-4">New Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="password" form-control password-policy-validation validate-on-blur/>
            <div ng-include="'views/password-error-messages.html'"></div>
          </div>
        </div>

        <div class="form-group group-confirm-password" form-group>
          <label class="col-sm-4">Confirm Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="passwordConfirm" form-control password-match-validation validate-on-blur/>
            <small wd-pw-mismatch class="help-block" ng-show="validationError">Password does not match</small>
          </div>
        </div>
        <div class="alert alert-danger" ng-show="unknownError">
          <strong>Sorry, an error occured.  Please reload the page and try again.</strong>
          <br/>
          <br/>
          <p>{{unknownError}}</p>
        </div>
        <button class="btn btn-reset btn-sp-green" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>